@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spectral', serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    /* background-color: #5c82a6;
    color: #b2bacf; */
    background-color: #aea2f0;
    color: #000;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li {
    position: relative;
    cursor: pointer;
}

.content {
    display: flex;

}

li span {
    transition: transform .5s;
    display: inline-block;
}

.s1 span {
    transform-origin: bottom;
}

.s2 span {
    transform-origin: top;
    transform: translateY(100%) rotateX(-90deg);
}

.s2 {
    position: absolute;
    top: 0;
    left: 0;
}

li:hover .s1 span {
    transform: translateY(-100%) rotateX(-90deg);
}

li:hover .s2 span {
    transform: translateY(0%) rotateX(0deg);
}

span:nth-child(2) {
    transition-delay: .1s;
}

span:nth-child(3) {
    transition-delay: .2s;
}

span:nth-child(4) {
    transition-delay: .3s;
}

span:nth-child(5) {
    transition-delay: .4s;
}

span:nth-child(6) {
    transition-delay: .5s;
}

span:nth-child(7) {
    transition-delay: .6s;
}